@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap');

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  background: radial-gradient(circle at center, #415a77, #1b263b, #0d1b2a);
  background-size: 400% 400%;
  animation: fluidColorFlow 10s infinite;
  color: #ffffff;
  text-align: center;
  overflow-x: hidden;
}

/* 배경 색상 변화 애니메이션 */
@keyframes fluidColorFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  font-size: 48px;
  background: linear-gradient(45deg, #ff6ec7, #6a83ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  font-size: 20px;
  color: #d1d1e0;
}

#map {
  width: 90%;
  height: 550px;
  margin: auto;
  border-radius: 10px;
}

#info-box {
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
  margin-top: 20px;
  max-width: 400px;
  text-align: left;
}

#info-box img {
  width: 100%;
  border-radius: 10px;
}

.hidden {
  display: none;
}
